@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}
.boxWidth {
  @apply max-w-[1920px] mx-auto px-9
}
.flexCenter{
  @apply flex justify-center items-center
}
.flexBetween{
  @apply flex justify-between items-center
}
.flexColumn{
  @apply flex flex-col justify-center items-center
}
.text-leading {
  @apply text-justify block leading-[28px]
}
.background-cover {
  @apply bg-center bg-no-repeat bg-cover
}
/* Table */
th, td {
  @apply px-2 py-2
}
.td-custom {
  @apply !py-[10px]
}

.shadow-footer {
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}

.transition-background {
  transition-property: background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.transition-top {
  transition-property: top;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.section {
  @apply mt-[152px] mb-[158px]
}

.horizontal-scroll-animation {
  animation: scrollHorizontal 10s linear infinite;
}

.horizontal-scroll-animation2 {
  animation: scrollHorizontal2 10s linear infinite;
}

@keyframes scrollHorizontal {
  from {
    transform: translateX(2%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollHorizontal2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

